.search {
}

.search__intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin: 0 auto;
  max-width: 600px;
}

.search__title {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 60px;
  color: #fff;
  margin: 0px;
  padding-bottom: 32px;
  padding-top: 80px;
}

.search__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin: 0px;
  padding-bottom: 88px;
}

.search__form {
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 80px;
}

.search__input {
  width: 580px;
  border-radius: 100px;
  color: #1A1B22;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-left: 20px;
  height: 50px;
}

.search__button {
  width: 125px;
  height: 52px;
  border-radius: 100px;
  background-color: #2f71e5;
  color: #fff;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  position: absolute;
  right: 370px;
  cursor: pointer;
}

.search__button:hover {
  background-color: #347EFF;
}

 
