.news-card-list {
  padding: 40px 24px;
  max-width: 1200px;
  margin: 0 auto;
}

.news-card-list__title {
  font-family: "Roboto Slab", sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: left;
}

.news-card-list__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

.news-card-list__button {
  width: 250px;
  height: 50px;
  margin: 32px auto 0;
  display: block;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #fff;
  color: #1a1b22;
  border: none;
  border-radius: 80px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.news-card-list__button:hover {
  background-color: #e8e8e8;
}

.news-card-list__saved {
  background-color: #f5f6f7;
}

@media (max-width: 786px) {
  .news-card-list {
    padding-left: 40px;
    padding-right: 40px;
  }

  .news-card-list__title {
    font-size: 30px;
    margin: 0px;
    padding-bottom: 32px;
  }

  .news-card-list__container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 8px;
  }

  .news-card-list__button {
    width: 230px;
    height: 56px;
  }
}

@media (max-width: 320px) {
  .news-card-list {
    padding-left: 16px;
    padding-right: 16px;
  }

  .news-card-list__title {
    font-size: 30px;
    padding-bottom: 58px;
  }
}
